.mestra-footer {
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #74788d;
  font-size: 14px;
  font-size: 1rem;
  padding: 0 2rem;
  z-index: 101 !important;
  background-color: var(--branco);
  bottom: 0;
  position: fixed;
  box-shadow: 1px 1px 5px;
}

.mestra-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #74788d;
}

.mestra-link:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  top: 1rem;
  left: 0;
  width: 0%;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.mestra-link:hover {
  text-decoration: none !important;
}

.mestra-link:hover:after {
  width: 100%;
}

.mestra-link:hover {
    color: #223a95;
}

.mestra-link:hover:after {
  border-bottom: 1px solid #223a95;
  opacity: 0.3;
}

.mestra-link.menu {
  padding: 0 0.5rem;
}
